#filter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1rem auto;
    padding: 0;
    width: 95%;
}

#ingredientsExample > li.list-ingredients.actived {
    background-color: black;
}

#appareilExample > li.list-appareil.actived {
    background-color: black;
}

#ustensilesExample > li.list-ustensilesactived {
    background-color: black;
}

#ingredients>button,
#appareil>button,
#ustensiles>button {
    align-items: center;
    border: none;
    border-radius: .3125rem;
    color: #ffff;
    cursor: pointer;
    display: flex;
    font-size: 1.125rem;
    height: 4.3125rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    transition: linear .3s;
    width: 11rem;
}

#hiddenIngredientsFilter,
#hiddenAppareilFilter,
#hiddenUstensilesFilter {
    border-radius: 5px;
    color: #ffff;
    display: none;
    position: absolute;
    top: 16.2rem;
    width: 35rem;
    z-index: 10;
}

#hiddenIngredientsFilter,
#ingredients>button,
#inputIngredients {
    background-color: #3282F7;
}

#hiddenAppareilFilter,
#appareil>button,
#inputAppareil {
    background-color: #68D9A4;
}

#hiddenUstensilesFilter,
#ustensiles>button,
#inputUstensiles {
    background-color: #ED6454;
}

#inputIngredients,
#inputAppareil,
#inputUstensiles {
    border: none;
    border-radius: 5px;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    height: 4.3125rem;
    outline: none;
    padding: 2rem;
    width: 100%;
    color: #ffff;
}

#closeIngredientsFilter,
#closeAppareilFilter,
#closeUstensilesFilter {
    font-size: 1.125rem;
    left: 32rem;
    position: absolute;
    top: 1.8rem;
}

#ingredientsExample,
#appareilExample,
#ustensilesExample {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.5rem;
}

#ingredientsExample > li,
#appareilExample > li,
#ustensilesExample > li {
    text-align: start;
    width: 9rem;
    padding: .5rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.21rem;
}

#ingredientsExample > li:hover {
    background-color: #ffff;
    color : #3282F7;
}

#appareilExample > li:hover {
    background-color: #ffff;
    color : #68D9A4;
}

#ustensilesExample > li:hover {
    background-color: #ffff;
    color : #ED6454;
}

@media screen and (min-width: 900px) {
    #filter {
        flex-direction: row;
    }

    #ingredients>button,
    #appareil>button,
    #ustensiles>button {
        margin-right: 2rem;
    }
}