#searchBar {
    margin: 0 auto;
    position: relative;
    width: 95%;
}

#searchBarInput {
    background-color: #E7E7E7;
    border: #FFF solid 1px;
    border-radius: .3125rem;
    font-size: 1rem;
    height: 2.8125rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    outline: none;
    padding: 2rem;
    text-overflow: ellipsis;
    width: 100%;
}

#searchBar > i {
    background-color: #E7E7E7;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1.65rem;
}

#messageInfoResultSearch {
    background: #c4dcff;
    border-radius: .5rem;
    color: #032250;
    display: none;
    font-size: 1.21rem;
    height: auto;
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem;
}

#messageInfoNoRecipe {
    background: #fed8b2;
    border-radius: .5rem;
    color: #4d2a07;
    display: none;
    font-size: 1.21rem;
    height: auto;
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem;
}

@media screen and (min-width: 900px) {
    #searchBarInput {
        height: 4.3125rem;
    }

    #searchBar > i {
        font-size: 2rem;
        right: 2rem;
        top: 2.2rem;
    }
}
