#resultMessage {
    border: #FFF solid 1px;
    border-radius: .3125rem;
    display: none;
    font-size: 1.2rem;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    overflow: hidden;
    padding: 1rem;
}

#searchBar {
    margin: 0 auto;
    position: relative;
    width: 95%;
}

#searchBar>i {
    background-color: #E7E7E7;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 2.2rem;
}

#searchBarInput {
    background-color: #E7E7E7;
    border: #FFF solid 1px;
    border-radius: .3125rem;
    font-size: 1rem;
    height: 2.8125rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    outline: none;
    padding: 2rem;
    text-overflow: ellipsis;
    width: 100%;
}

@media screen and (min-width: 900px) {
    #searchBar>i {
        font-size: 2rem;
        right: 2rem;
        top: 2.2rem;
    }

    #searchBarInput {
        height: 4.3125rem;
    }
}
